<<html>
    <head>
        <title>Blog Matheusão</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Blog Matheusão</a></h1>
        </div>


        {% for post in posts %}
        <div>
            <p>Deixa o menino rodaaaaar</p>
            <h2><a href="">{{ post.title }}</a></h2>
            <p>{{ post.text|linebreaksbr }}</p>
        </div>
        {% endfor %}

        <div>
            <p>Viu mathias consegui até agora :D</p>
            <h2><a href="">Meu segundo post</a></h2>
            <p>Oi eu sou goku</p>
        </div>
    </body>
</html>